body {
    font-family: "Arial", sands-serif;
}

.dropzone {
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
}

.dropzone.dragover {
    border-color: #000;
    color: #000;
}
