<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
       id="sidenav-main">

    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white {% if 'index' in segment %} active bg-gradient-primary {% endif %}"
                   href="/">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">dashboard</i>
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white {% if 'shell' in segment %} active bg-gradient-primary {% endif %}"
                   href="/shell">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">table_view</i>
                    </div>
                    <span class="nav-link-text ms-1">Shell</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white {% if 'upload' in segment %} active bg-gradient-primary {% endif %}"
                   href="/upload">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">receipt_long</i>
                    </div>
                    <span class="nav-link-text ms-1">Upload / Download</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white"
                   href="https://sygnialabs.github.io/DROPS/?utm_source=qemuno&utm_medium=qemuno"
                   target="_blank">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">view_in_ar</i>
                    </div>
                    <span class="nav-link-text ms-1">DROPS</span>
                </a>
            </li>
        </ul>
    </div>

</aside>
  